* {
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
}

.heading {
  z-index: 2;
  display: inline;
  position: absolute;
  left: 40%;
  top: 40%;
  color: white;
  border: 5px solid white;
  padding: 30px;
}
.head-para {
  z-index: 2;
  display: inline;
  position: absolute;
  left: 40%;
  top: 60%;
  color: white;
}

.canvas {
  z-index: 1;
}
